/* common start */
body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    background-color: #fafafa;

}
/* common end  */
/* header start */
header{
background-color: #F0FFF0;
padding: 5px 0;
}
.c_nav{}
.logo{}
.menu{}
.book_btn {
    margin: 10px  10px;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px 0px #00000040;
    text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    font-size: 16px;
    line-height: 24px;
    background: #fff;
}
.menu ul li a{
 font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #000000 !important;
padding: 0 24px !important;
text-transform: capitalize;
margin-top: 19px;
}
.menu ul li a:hover {
color: #FD511A !important;
}

.btn_signin{
    padding: 12px 28px;
    font-weight: 400;
    color: white;
    line-height: 19px;
    background-color: #21B573;
    border: 0;
    border-radius: 33px;
}
.btn_signin:hover{
    background-color: #FD511A;
    color: white;
}
/* header end */
/* banner start */
.banner{
background-color: #F0FFF0;
padding: 35px 0 65px;
}
.b_text{

}
.b_red{
    color: #FD511A;
    line-height: 24px ;
}
.b_h1{
    margin: 10px 0 20px;
    font-size: 48px;
    font-weight:700 ;
    line-height:70px ;
    color: #000;
   
}
.b_h1 span{
    color: #21B573;
}
.b_black{
    line-height: 36px;
    color:#6C6B6B ;
}
.btn_banner{
    margin-top: 14px;
    padding: 15px 36px;
}

/* banner end */
/* feature start */
.feature{
padding-bottom: 100px;
}
.s_feature{
    margin-top: 40px;
    padding: 55px 0 50px;
    background-color: #f0fff0;
    text-align: center;
    border-radius: 10px;
    transition: .33s;
}
.s_feature:hover{
    background-color: #fff;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
}
.s_img{}
.s_img img{}
.s_feature h2{
    margin: 22px 0 0;
    font-size: 24px;
    font-weight: 500;
    color: #000000;
    line-height: 36px;
}
.s_feature p{
    line-height: 24px;
}
/* feature end */
/*course start*/
.course{
    padding-bottom: 100px;
}
.c_title{}
.c_h1{
    font-size: 36px;
    font-weight: 700;
    color: #000000;
    line-height: 54px;
}
.c_item{
    margin-top: 60px;
    padding: 25px 20px 30px;
    color: #000000;
    background-color: #FFFFFF;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
}
.c_img{}
.c_img img{
    width: 100%;
    border-radius: 11px;
}
.c_item h2{
    margin: 20px 0 0;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
}
.c_item p{
    line-height: 24px;
}
.c_item a{
    margin: 20px 0 35px;
    padding: 8px 28px;
}
.c_footer{
    overflow: hidden;
}
.date ul{}
.date ul li{}
.date ul li img{
    width: 16px;
}
.date ul li span, .seat ul li span{
    font-weight: 500;
    line-height: 24px;
}
.seat ul li img{
    width: 18px;
}
/*course end*/
/*blog start*/
.blog_item{
    padding: 70px 0 125px;
}
.people_img{
    text-align: end;
}
.people_img img{
    border-radius: 60px;
}
.blog_text{
    padding: 0 130px 0 14px;
}
.blog_text p{
    line-height: 30px;
}
/*blog end*/
/*footer start*/
footer{
    padding: 55px 0 40px;
    background-color: #282531;
    line-height: 30px;
}
.f_left{}
.f_left p{
    padding-right: 45px;
    color: white;
}
.f_right{
    font-size: 16px;
    padding-left: 80px;
}
.f_2{}
.f_2 p{}
.f_2 p a{
    color: white;
    text-decoration: none;
}
.bd{
    font-size: 18px;
    font-weight: 700; 
}
.p_author{
    margin-top: 75px;
    text-align: center;
    color: white;
    opacity: 0.5;
}
.author p{
    margin-top: 31px;
    color: white;
    text-align: center;
}
/*footer end*/

/* Footer End */
